body {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    background-color: black;
}

body::-webkit-scrollbar
{
    background-color: transparent;
}

.search-bar {
    border: none;
    padding: 4px;
    font-size: large;
}

.sidebar-button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: none;
    margin: 6px 0;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s;
}

.sidebar-button:hover
{
    background-color: red;
}

.sidebar-button:hover span:nth-child(1)
{
    color: black;
}

.sidebar::-webkit-scrollbar
{
    background-color: transparent;
}

.sidebar-button span:nth-child(1)
{
    color: red;
    margin-right: 10px;
}
.sidebar-button span:nth-child(2)
{
    color: white;
    user-select: none;
}

.underlined 
{
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .search-bar {
        font-size: medium;
        max-width: 90px;
    }
}
@media screen and (max-width: 900px) {
    .sidebar-button {
        margin: 10px 5px;
    }
    .logo
    {
        display: none;
    }
}

